.Theme_color_dark {
    --color-base: #fff;
    --color-essential: #211f1f;
    --color-project: #fc0;
    --color-phantom: #fff;
    --color-path: #207adb;
    --color-success: #00985f;
    --color-alert: #ff5454;
    --color-warning: #f90;
    --color-normal: #dde3e5;
    --color-system: #778a9b;
    --color-promo: #fc0;
    --color-transparent: transparent;
    --color-bg-brand: #176DEA;
    --color-bg-inverse: #fff;
    --color-bg-action: rgb(255, 219, 77);
    --color-bg-selection: rgb(255, 234, 158);
    --color-bg-hover: rgba(255, 255, 255, 0.15);
    --color-bg-border: rgba(255, 255, 255, 0.05);
    --color-bg-stripe: rgba(255, 255, 255, 0.04);
    --color-bg-ghost: rgba(255, 255, 255, 0.08);
    --color-bg-default: #211f1f;
    --color-bg-tone: rgba(255, 255, 255, 0.9);
    --color-bg-soft: rgba(33, 31, 31, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #ff5454;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(102, 172, 219, 0.4);
    --color-bg-promo: #fc0;
    --color-typo-brand: #fc0;
    --color-typo-primary: #fff;
    --color-typo-inverse: #211f1f;
    --color-typo-promo: rgba(255, 255, 255, 0.8);
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-typo-disable: rgba(255, 255, 255, 0.3);
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: rgb(255, 102, 102);
    --color-link: #207adb;
    --color-link-external: #207adb;
    --color-link-minor: rgb(158, 158, 158);
    --color-link-hover: rgb(27, 104, 187);
    --color-control-bg-border-focus: rgb(118, 111, 111);
    --color-control-bg-border-prism: #fc0;
    --color-control-typo-primary: #fff;
    --color-control-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-control-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-control-typo-passive: #211f1f;
    --color-control-typo-faint: #211f1f;
    --color-control-typo-disable: rgba(255, 255, 255, 0.6);
    --color-control-typo-link: #207adb;
    --color-control-typo-error: rgb(255, 102, 102);
    --color-control-bg-default: rgb(68, 64, 64);
    --color-control-bg-default-hover: rgb(102, 96, 96);
    --color-control-bg-default-press: rgb(102, 96, 96);
    --color-control-bg-default-disable: rgb(47, 45, 45);
    --color-control-bg-border-default: rgb(128, 128, 128);
    --color-control-bg-border-default-hover: rgb(166, 166, 166);
    --color-control-bg-border-default-press: rgb(179, 179, 179);
    --color-control-bg-border-default-disable: rgb(26, 26, 26);
    --color-control-bg-border-default-error: #ff5454;
    --color-control-bg-border-default-error-hover: rgb(248, 129, 129);
    --color-control-bg-pseudo: #211f1f;
    --color-control-bg-pseudo-hover: rgb(102, 96, 96);
    --color-control-bg-border-pseudo: rgb(92, 87, 87);
    --color-control-bg-action: #fc0;
    --color-control-bg-action-hover: rgb(250, 192, 0);
    --color-control-bg-action-press: rgb(250, 192, 0);
    --color-control-bg-passive: #211f1f;
    --color-control-bg-progress: #fc0;
    --color-control-bg-progress-process: rgb(255, 213, 0);
    --color-control-bg-blank: rgb(68, 64, 64);
    --color-control-bg-blank-hover: rgb(71, 67, 67);
    --color-control-bg-blank-disable: rgb(108, 101, 101);
    --color-control-bg-border-blank: rgba(255, 255, 255, 0.1);
    --color-control-bg-border-blank-hover: rgba(255, 255, 255, 0.15);
    --color-control-bg-border-blank-disable: rgba(33, 31, 31, 0);
    --color-control-bg-faint: #211f1f;
    --color-control-bg-faint-disable: rgb(201, 197, 197);
    --color-control-bg-check: #fc0;
    --color-control-bg-check-hover: #fc0;
    --color-control-bg-check-press: #fc0;
    --color-control-bg-check-disable: #fc0;
    --color-control-bg-border-check: rgb(168, 135, 0);
    --color-control-bg-border-check-hover: rgb(168, 135, 0);
    --color-control-bg-border-check-press: rgb(168, 135, 0);
    --color-control-bg-link-default: #207adb;
    --color-control-bg-link-default-hover: rgba(32, 122, 219, 0.2);
    --color-control-bg-border-link-default: #207adb;
    --color-control-bg-border-link-default-hover: #207adb;
    --color-control-typo-raised: #fff;
    --color-control-typo-raised-disable: #899094;
    --color-control-bg-raised: #29363c;
    --color-control-bg-raised-hover: #364248;
    --color-control-bg-raised-disable: #303f46;
    --color-control-bg-raised-check: #29363c;
    --color-typo-primary-white: #fff;
    --attach-typo-color: #fff;
    --badge-border-color: #211f1f;
    --badge-fill-color: #ff5454;
    --badge-typo-color: #211f1f;
    --button-view-action-border-color-focused: #fc0;
    --button-view-action-fill-color-base: #fc0;
    --button-view-action-fill-color-disabled: rgb(47, 45, 45);
    --button-view-action-fill-color-hovered: rgb(250, 192, 0);
    --button-view-action-fill-color-progress-base: #fc0;
    --button-view-action-fill-color-progress-process: rgb(255, 213, 0);
    --button-view-action-fill-color-checked-base: #fc0;
    --button-view-action-fill-color-checked-hovered: #fc0;
    --button-view-action-typo-color-base: #211f1f;
    --button-view-action-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --button-view-action-typo-color-hovered: #211f1f;
    --button-view-action-typo-color-progress-base: #211f1f;
    --button-view-action-typo-color-checked-base: #211f1f;
    --button-view-action-typo-color-checked-hovered: #211f1f;
    --button-view-clear-border-color-focused: #fc0;
    --button-view-clear-fill-color-disabled: rgb(47, 45, 45);
    --button-view-clear-fill-color-checked-base: #fc0;
    --button-view-clear-fill-color-checked-hovered: #fc0;
    --button-view-clear-typo-color-base: #fff;
    --button-view-clear-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --button-view-clear-typo-color-checked-base: #211f1f;
    --button-view-default-border-color-focused: #fc0;
    --button-view-default-fill-color-base: rgb(68, 64, 64);
    --button-view-default-fill-color-disabled: rgb(47, 45, 45);
    --button-view-default-fill-color-hovered: rgb(102, 96, 96);
    --button-view-default-fill-color-checked-base: #fc0;
    --button-view-default-fill-color-checked-hovered: #fc0;
    --button-view-default-typo-color-base: #fff;
    --button-view-default-typo-color-hovered: #fff;
    --button-view-default-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --button-view-default-typo-color-checked-base: #211f1f;
    --button-view-default-typo-color-checked-hovered: #211f1f;
    --button-view-link-border-color-base: #207adb;
    --button-view-link-border-color-focused: #fc0;
    --button-view-link-fill-color-base: #211f1f;
    --button-view-link-fill-color-disabled: rgb(47, 45, 45);
    --button-view-link-fill-color-hovered: rgba(32, 122, 219, 0.2);
    --button-view-link-fill-color-checked-base: #fc0;
    --button-view-link-fill-color-checked-hovered: #fc0;
    --button-view-link-typo-color-base: #207adb;
    --button-view-link-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --button-view-link-typo-color-checked-base: #211f1f;
    --button-view-pseudo-border-color-base: rgb(92, 87, 87);
    --button-view-pseudo-border-color-focused: #fc0;
    --button-view-pseudo-fill-color-disabled: rgb(47, 45, 45);
    --button-view-pseudo-fill-color-hovered: rgb(102, 96, 96);
    --button-view-pseudo-fill-color-checked-base: #fc0;
    --button-view-pseudo-fill-color-checked-hovered: #fc0;
    --button-view-pseudo-typo-color-base: #fff;
    --button-view-pseudo-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --button-view-pseudo-typo-color-checked-base: #211f1f;
    --button-view-raised-border-color-focused: #fc0;
    --button-view-raised-fill-color-base: #29363c;
    --button-view-raised-fill-color-disabled: #303f46;
    --button-view-raised-fill-color-hovered: #364248;
    --button-view-raised-fill-color-checked-base: #fc0;
    --button-view-raised-fill-color-checked-hovered: #fc0;
    --button-view-raised-typo-color-base: #fff;
    --button-view-raised-typo-color-disabled: #899094;
    --button-view-raised-typo-color-checked-base: #211f1f;
    --checkbox-view-outline-border-color: rgba(0, 0, 0, 0.1);
    --checkbox-view-outline-fill-color-base: transparent;
    --checkbox-view-outline-fill-color-hovered: #d2d2d2;
    --checkbox-view-default-outline-color: #fc0;
    --checkbox-view-default-fill-color-base: rgb(68, 64, 64);
    --checkbox-view-default-fill-color-hovered: rgb(102, 96, 96);
    --checkbox-view-default-fill-color-checked-base: #fc0;
    --checkbox-view-default-fill-color-checked-hovered: #fc0;
    --checkbox-view-default-typo-color-base: #fff;
    --checkbox-view-default-typo-color-checked-base: #211f1f;
    --divider-fill-color: #fc0;
    --header-fill-color: #fff; /* Фон шапки */
    --header-nav-link-color-base: #939cb0; /* Основной цвет текста навигационного таба */
    --header-nav-link-color-hover: #222426; /* Цвет текста навигационного таба при наведении мыши */
    --header-nav-link-color-active: #d00; /* Цвет текста навигационного таба при нажатии */
    --header-search-fill-color-base: #ffdb4d; /* Основной цвет заливки и границ Textinput_view_search-arrow и Button_view_search-arrow */
    --header-search-fill-color-hover: #ffd633; /* Цвет заливки и границ Textinput_view_search-arrow и Button_view_search-arrow при наведении мыши */
    --header-search-fill-color-active: #fc0; /* Цвет заливки и границ Textinput_view_search-arrow и Button_view_search-arrow при нажатии */
    --header-search-button-typo-color: #000; /* Цвет текста Button_view_search-arrow */
    --header-search-textinput-typo-color: #000; /* Цвет текста Button_view_search-arrow */
    --header-search-textinput-fill-color: #fff; /* Цвет заливки Textinput_view_search-arrow Texinput-Box */
    --link-view-default-outline-color: #fc0;
    --link-view-default-typo-color-base: #207adb;
    --link-view-default-typo-color-disabled: rgba(255, 255, 255, 0.3);
    --link-view-default-typo-color-hovered: rgb(27, 104, 187);
    --menu-view-default-border-color-base: rgb(128, 128, 128);
    --menu-view-default-fill-color-base: rgb(68, 64, 64);
    --menu-view-default-fill-color-hovered: rgb(102, 96, 96);
    --menu-view-default-typo-color-base: #fff;
    --menu-view-default-typo-color-secondary: rgba(255, 255, 255, 0.6);
    --menu-view-default-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --menu-view-default-typo-color-hovered: #fff;
    --message-box-view-default-typo-color: #211f1f;
    --message-box-view-default-fill-color: #fff;
    --message-box-view-promo-typo-color: #211f1f;
    --message-box-view-promo-fill-color: #fc0;
    --message-box-view-inverse-typo-color: #fff;
    --message-box-view-inverse-fill-color: #211f1f;
    --popup-view-default-typo-color: #fff;
    --popup-view-default-fill-color: #211f1f;
    --progress-outer-fill-color: transparent;
    --progress-inner-fill-color: #fc0;
    --radio-button-view-default-outline-color: #fc0;
    --radio-button-view-default-fill-color-base: rgb(68, 64, 64);
    --radio-button-view-default-fill-color-checked-base: #211f1f;
    --radio-button-view-default-typo-color-base: rgba(255, 255, 255, 0.6);
    --radio-button-view-default-typo-color-hovered: #fff;
    --radio-button-view-default-typo-color-checked-base: #fff;
    --radiobox-view-default-dot-fill-color: #211f1f;
    --radiobox-view-default-outline-color: #fc0;
    --radiobox-view-default-fill-color-base: rgb(68, 64, 64);
    --radiobox-view-default-fill-color-hovered: rgb(102, 96, 96);
    --radiobox-view-default-fill-color-checked-base: #fc0;
    --radiobox-view-default-fill-color-checked-hovered: #fc0;
    --radiobox-view-default-typo-color-base: #fff;
    --radiobox-view-outline-border-color: rgba(0, 0, 0, 0.1);
    --radiobox-view-outline-fill-color-base: transparent;
    --radiobox-view-outline-fill-color-hovered: #d9d9d9;
    --slider-view-default-typo-color-base: #fff; /* Цвет типографики внутри слайдера */
    --slider-view-default-track-fill-color-base: rgba(0, 0, 0, 0.15); /* Цвет заливки трека в обычном состоянии */
    --slider-view-default-track-fill-color-hovered: rgba(0, 0, 0, 0.25); /* Цвет заливки трека в состоянии наведения */
    --slider-view-default-range-fill-color-base: #fc0; /* Цвет заливки диапазона в обычном состоянии */
    --slider-view-default-range-fill-color-hovered: rgb(250, 192, 0); /* Цвет заливки диапазона в состоянии наведения */
    --slider-view-default-range-fill-color-disabled: rgba(0, 0, 0, 0.15); /* Цвет заливки диапазона в неактивном состоянии */
    --slider-view-default-thumb-fill-color-base: #29363c; /* Цвет заливки бегунка в обычном состоянии */
    --slider-view-default-thumb-fill-color-disabled: #000; /* Цвет заливки бегунка в неактивном состоянии */
    --slider-view-default-tick-fill-color-base: #fff; /* Цвет заливки метки в обычном состоянии */
    --spin-view-default-border-color: #fc0;
    --tabs-menu-view-default-outline-color: #fc0;
    --tabs-menu-view-default-active-line-fill-color-active: #fff;
    --tabs-menu-view-default-typo-color-base: #fff;
    --textarea-view-default-fill-color-base: rgb(68, 64, 64);
    --textarea-view-default-fill-color-disabled: rgb(108, 101, 101);
    --textarea-view-default-fill-color-hovered: rgb(71, 67, 67);
    --textarea-view-default-typo-color-base: #fff;
    --textarea-view-default-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --textarea-view-default-placeholder-typo-color-base: rgba(255, 255, 255, 0.3);
    --textarea-view-default-placeholder-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --textarea-view-default-icon-fill-color-base: rgba(255, 255, 255, 0.3);
    --textarea-view-default-clear-fill-color-base: rgba(255, 255, 255, 0.3);
    --textarea-view-default-clear-fill-color-hovered: #fff;
    --textarea-view-default-hint-typo-color-state-error-base: rgb(255, 102, 102);
    --textarea-view-default-border-color-base: rgba(255, 255, 255, 0.1);
    --textarea-view-default-border-color-disabled: rgba(33, 31, 31, 0);
    --textarea-view-default-border-color-focused: rgb(118, 111, 111);
    --textarea-view-default-border-color-hovered: rgba(255, 255, 255, 0.15);
    --textarea-view-default-border-color-state-error-base: #ff5454;
    --textarea-view-default-border-color-state-error-hovered: rgb(248, 129, 129);
    --textinput-view-material-typo-color-base: #000;
    --textinput-view-material-typo-color-disabled: rgba(0, 0, 0, 0.4);
    --textinput-view-material-border-color-base: rgba(0, 0, 0, 0.1);
    --textinput-view-material-border-color-state-error: #FF3737;
    --textinput-view-material-icon-fill-color-base: rgba(0, 0, 0, 0.8);
    --textinput-view-material-icon-fill-color-disabled: rgba(0, 0, 0, 0.5);
    --textinput-view-material-hint-typo-color-base: rgba(0, 0, 0, 0.4);
    --textinput-view-material-hint-typo-color-state-error: #FF3737;
    --textinput-view-material-caret-color-base: #067AFF;
    --textinput-view-material-caret-color-state-error: #FF3737;
    --textinput-view-material-placeholder-typo-color-base: rgba(255, 255, 255, 0.3);
    --textinput-view-material-label-color-base: rgba(0, 0, 0, 0.25);
    --textinput-view-material-label-color-state-error: #FF3737;
    --textinput-view-material-label-color-floated-base: rgba(0, 0, 0, 0.4);
    --textinput-view-material-variant-filled-border-color-focused: #067AFF;
    --textinput-view-material-variant-filled-fill-color: rgba(0, 0, 0, 0.05);
    --textinput-view-material-variant-filled-label-color-floated: #067AFF;
    --textinput-view-material-variant-outlined-border-color-base: rgba(0, 0, 0, 0.1);
    --textinput-view-material-variant-outlined-border-color-focused: #067AFF;
    --textinput-view-material-variant-outlined-label-color-floated: #067AFF;
    --textinput-view-default-fill-color-base: rgb(68, 64, 64);
    --textinput-view-default-fill-color-disabled: rgb(108, 101, 101);
    --textinput-view-default-fill-color-hovered: rgb(71, 67, 67);
    --textinput-view-default-typo-color-base: #fff;
    --textinput-view-default-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --textinput-view-default-placeholder-typo-color-base: rgba(255, 255, 255, 0.3);
    --textinput-view-default-placeholder-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --textinput-view-default-icon-fill-color-base: rgba(255, 255, 255, 0.3);
    --textinput-view-default-clear-fill-color-base: rgba(255, 255, 255, 0.3);
    --textinput-view-default-clear-fill-color-hovered: #fff;
    --textinput-view-default-hint-typo-color-state-error-base: rgb(255, 102, 102);
    --textinput-view-default-border-color-base: rgba(255, 255, 255, 0.1);
    --textinput-view-default-border-color-disabled: rgba(33, 31, 31, 0);
    --textinput-view-default-border-color-focused: rgb(118, 111, 111);
    --textinput-view-default-border-color-hovered: rgba(255, 255, 255, 0.15);
    --textinput-view-default-border-color-state-error-base: #ff5454;
    --textinput-view-default-border-color-state-error-hovered: rgb(248, 129, 129);
    --tooltip-view-default-fill-color-base: rgb(68, 64, 64);
    --tooltip-view-default-fill-color-state-success: #00985f;
    --tooltip-view-default-fill-color-state-warning: #f90;
    --tooltip-view-default-fill-color-state-alert: #ff5454;
    --tooltip-view-default-typo-color-state-success: #211f1f;
    --tooltip-view-default-typo-color-state-warning: #211f1f;
    --tooltip-view-default-typo-color-state-alert: #211f1f;
    --tumbler-view-default-outline-color: #fc0;
    --tumbler-view-default-fill-color-base: rgb(68, 64, 64);
    --tumbler-view-default-fill-color-disabled: rgb(47, 45, 45);
    --tumbler-view-default-fill-color-hovered: rgb(102, 96, 96);
    --tumbler-view-default-fill-color-checked-base: #fc0;
    --tumbler-view-default-fill-color-checked-disabled: rgb(47, 45, 45);
    --tumbler-view-default-fill-color-checked-hovered: rgb(250, 192, 0);
    --tumbler-view-default-button-fill-color-base: #211f1f;
    --tumbler-view-default-typo-color-base: #fff;
    --tumbler-view-default-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --calendar-view-default-fill-color: #fff;
    --calendar-view-default-header-fill-color: transparent;
    --calendar-view-default-aside-typo-color-base: rgba(0, 0, 0, 0.6);
    --calendar-view-default-aside-fill-color-base: rgba(0, 0, 0, 0.05);
    --calendar-view-default-weekday-typo-color-base: #000000;
    --calendar-view-default-weekend-typo-color-base: #ff3029;
    --calendar-view-default-cell-border-color-hovered: rgba(0, 0, 0, 0.1);
    --calendar-view-default-cell-border-color-focused: #e69900;
    --calendar-view-default-cell-border-color-today: rgba(0, 0, 0, 0.05);
    --calendar-view-default-cell-underline-color-today: #ff3737;
    --calendar-view-default-cell-typo-color-base: rgba(0, 0, 0, 0.8);
    --calendar-view-default-cell-typo-color-disabled: rgba(0, 0, 0, 0.45);
    --calendar-view-default-cell-typo-color-selected-base: #fff;
    --calendar-view-default-cell-typo-color-weekend: #ff3737;
    --calendar-view-default-cell-fill-color-hovered: #f2f2f2;
    --calendar-view-default-cell-fill-color-pressed: #e5e5e5;
    --calendar-view-default-cell-fill-color-range-selected-base: #f2f2f2;
    --calendar-view-default-cell-fill-color-range-selected-hovered: #e6e6e6;
    --calendar-view-default-cell-fill-color-range-selected-pressed: #d9d9d9;
    --calendar-view-default-cell-fill-color-selected-base: #ff3333;
    --calendar-view-default-cell-fill-color-selected-hovered: #ff0000;
    --calendar-view-default-cell-fill-color-selected-pressed: #f20008;
    --calendar-view-default-cell-fill-color-selected-disabled: #f7f8fA;
    --calendar-view-default-nav-action-typo-color-base: rgba(0, 0, 0, 0.65);
    --calendar-view-default-nav-action-typo-color-hovered: rgba(0, 0, 0, 1);
    --calendar-view-default-nav-action-typo-color-disabled: #808080;
    --calendar-view-default-nav-title-button-typo-color-base: #000;
    --calendar-view-default-nav-title-button-typo-color-hovered: rgba(0, 0, 0, 0.65);
    --calendar-view-brand-fill-color: #fff;
    --calendar-view-brand-header-fill-color: #1a1a1a;
    --calendar-view-brand-aside-typo-color-base: rgba(0, 0, 0, 0.6);
    --calendar-view-brand-aside-fill-color-base: rgba(0, 0, 0, 0.05);
    --calendar-view-brand-weekday-typo-color-base: #fff;
    --calendar-view-brand-weekend-typo-color-base: rgba(255, 255, 255, 0.75);
    --calendar-view-brand-cell-border-color-hovered: rgba(0, 0, 0, 0.1);
    --calendar-view-brand-cell-border-color-focused: #fdb100;
    --calendar-view-brand-cell-border-color-today: rgba(0, 0, 0, 0.05);
    --calendar-view-brand-cell-underline-color-today: #ff3737;
    --calendar-view-brand-cell-typo-color-base: rgba(0, 0, 0, 0.8);
    --calendar-view-brand-cell-typo-color-disabled: rgba(0, 0, 0, 0.45);
    --calendar-view-brand-cell-typo-color-selected-base: #fff;
    --calendar-view-brand-cell-typo-color-weekend: #ff3737;
    --calendar-view-brand-cell-fill-color-hovered: #f2f2f2;
    --calendar-view-brand-cell-fill-color-pressed: #e5e5e5;
    --calendar-view-brand-cell-fill-color-range-selected-base: #f2f2f2;
    --calendar-view-brand-cell-fill-color-range-selected-hovered: #e6e6e6;
    --calendar-view-brand-cell-fill-color-range-selected-pressed: #d9d9d9;
    --calendar-view-brand-cell-fill-color-selected-base: #ff3333;
    --calendar-view-brand-cell-fill-color-selected-hovered: #ff0000;
    --calendar-view-brand-cell-fill-color-selected-pressed: #f20008;
    --calendar-view-brand-cell-fill-color-selected-disabled: #f7f8fA;
    --calendar-view-brand-nav-action-typo-color-base: rgba(255, 255, 255, 0.65);
    --calendar-view-brand-nav-action-typo-color-hovered: rgba(255, 255, 255, 1);
    --calendar-view-brand-nav-action-typo-color-disabled: rgba(255, 255, 255, 0.4);
    --calendar-view-brand-nav-title-button-typo-color-base: #fff;
    --calendar-view-brand-nav-title-button-typo-color-hovered: rgba(255, 255, 255, 0.65);
    --datetimefield-view-default-fill-color-base: rgb(68, 64, 64);
    --datetimefield-view-default-fill-color-disabled: rgb(108, 101, 101);
    --datetimefield-view-default-fill-color-hovered: rgb(71, 67, 67);
    --datetimefield-view-default-border-color-base: rgba(255, 255, 255, 0.1);
    --datetimefield-view-default-border-color-disabled: rgba(33, 31, 31, 0);
    --datetimefield-view-default-border-color-focused: rgb(118, 111, 111);
    --datetimefield-view-default-border-color-hovered: rgba(255, 255, 255, 0.15);
    --datetimefield-view-default-segment-fill-color-focused: #b4d5fe;
    --datetimefield-view-default-segment-typo-color-base: #fff;
    --datetimefield-view-default-segment-typo-color-disabled: rgba(255, 255, 255, 0.6);
    --datetimefield-view-default-segment-typo-color-invalid: rgb(255, 102, 102);
    --datetimefield-view-default-placeholder-typo-color-base: rgba(255, 255, 255, 0.3);
    --datetimefield-view-default-placeholder-typo-color-disabled: rgba(255, 255, 255, 0.6);
}
