@import 'src/components/Constants/Constants';

.Footer {
    padding: var(--space-s);

    font-size: var(--typography-label-font-size);

    &-Container {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        max-width: var(--page-main-max-width);
        margin: 0 auto;
    }
}
