@import 'src/components/Constants/Constants';

.Footer {
    width: 100%;

    font-size: var(--typography-label-font-size);

    background-color: var(--color-bg-footer);

    &-Contacts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &-Contact {
        padding: var(--space-m);
    }

    &-Copyright {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);

        border-top: 3px solid var(--color-base);
    }

    &-Social {
        padding: var(--space-m);
    }

    &-Icon {
        width: 24px;
        height: 24px;
        margin-right: var(--space-xs);
    }
}
