@import "src/components/Constants/Constants.scss";

.Footer {
    font-size: 15px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
    padding-top: 10px;

    border-top: 1px solid $body-borders-color;
}
