.List {
    display: flex;
    flex-direction: column;

    &-Loading {
        align-self: center;

        margin: var(--space-s) 0;
    }

    &-Container {
        display: flex;
        flex-direction: column;

        margin: var(--space-s) 0;
    }

    &-Append {
        align-self: flex-end;
    }
}
