.Disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    margin: 20px 0;

    border-radius: var(--button-borderRadius);

    &_type_alert {
        color: var(--color-typo-alert);
        background-color: var(--color-fill-color-transparent-alert);
    }

    &_type_info {
        color: var(--color-typo-secondary);
        background-color: var(--color-fill-color-transparent-info);
    }
}
