.ProfileInfo {
    display: flex;

    &-Avatar {
        width: 150px;
        height: 150px;
        margin-right: 40px;
    }

    &-Name {
        line-height: 35px;
    }

    &-Role {
        margin-top: 10px;
    }

    &-Personal {
        min-width: 280px;
        margin-left: auto;
        justify-self: flex-end;
    }
}
