@font-face {
    font-family: Rubik;
    src: url('../public/fonts/Rubik-Regular.ttf'), url('../public/fonts/Rubik-Bold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Rubik;
    src: local('Rubik'), url('../public/fonts/Rubik-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Rubik;
    src: local('Rubik'), url('../public/fonts/Rubik-Medium.ttf');
    font-weight: 500;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--typography-font-family);

    color: var(--button-view-default-typo-color-base);
}

.App {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    @media (max-width: 960px) {
        --page-main-max-width: var(--page-main-touch-max-width);
        --page-login-max-width: var(--page-login-touch-max-width);
    }

    > .Spin2 {
        margin: auto;
    }
}

a {
    text-decoration: none;

    color: inherit;
}
