body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--typography-font-family);

    color: var(--button-view-default-typo-color-base);
    background-color: var(--button-view-default-fill-color-base);
}

.App {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    @media (max-width: 960px) {
        --page-main-max-width: var(--page-main-touch-max-width);
        --page-login-max-width: var(--page-login-touch-max-width);
    }
}
