@import 'src/components/Constants/Constants';

.Header {
    margin-bottom: var(--space-s);
    padding: var(--space-s);

    color: var(--color-typo-primary-white);
    background-color: var(--color-bg-brand);
    box-shadow: var(--shadow-lightblue-30);

    &-Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        max-width: var(--page-main-max-width);
        margin: 0 auto;
    }

    &-Title {
        font-size: var(--typography-title-font-size);
        font-weight: var(--typography-font-weight-bold);
    }

    &-Link {
        text-decoration: none;

        color: inherit;
    }

    &-Messanger {
        margin-left: var(--space-s);
    }
}
