.Info {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    margin-bottom: var(--space-s);

    border-radius: var(--button-borderRadius);

    &_type_alert {
        color: var(--color-typo-alert);
        background-color: var(--color-fill-color-transparent-alert);
    }

    &_type_info {
        color: var(--color-typo-secondary);
    }
}
